body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #f0f0f0, #e0e0e0);
}

.navbar {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
  padding: 0.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem auto;
  position: sticky;
  top: 0;
  z-index: 999;
}

.brand h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #494949;
}

.search input {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  background: linear-gradient(135deg, #f0f0f0, #e0e0e0);
  box-shadow: 0 4px 6px rgba(168, 163, 163, 0.253);
  width: 90%;
}

.search input:focus {
  outline: solid 1px #ccc;
}

.container {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
  padding: 0.8rem;
  margin: 1rem auto;
}

h2 {
  color: #333;
  text-align: center;
}

.add-note-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-input,
.body-input {
  width: 90%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: linear-gradient(135deg, #f0f0f0, #e0e0e0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  font-family: inherit;
}

.title-input:focus,
.body-input:focus {
  outline: solid 1px #ccc;
}

.character-count {
  font-size: 0.8rem;
  color: #555;
  margin-left: 5px;
}

button {
  margin-top: 10px;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 10px;
}

button:hover {
  background-color: #45a049;
}

.note-list {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.note-item {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.note-list .no-notes {
  text-align: center;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .navbar {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .search input {
    width: 100%;
  }
}
